# all values are optional except for the auth token
# failure webhook
WEBHOOK_URL=https://discord.com/api/webhooks/1234567890/ABCDEFGHIJKLMN
# webhook pings -- these will be formatted into the main message
WEBHOOK_PINGS="<@1053012491006910504>" 
# The shared secret token for authenticating requests between vert and vertd.
# This MUST be set for vertd to start.
VERTD_AUTH_TOKEN=YOUR_SECRET_TOKEN_HERE