# all values are optional

# failure webhook
WEBHOOK_URL=https://discord.com/api/webhooks/1234567890/ABCDEFGHIJKLMN

# webhook pings -- these will be formatted into the main message
WEBHOOK_PINGS="<@1053012491006910504>" 