services:
  vertd:
    build: .
    environment:
      - PORT=${PORT:-24153}
      - WEBHOOK_URL=${WEBHOOK_URL}
      - WEBHOOK_PINGS=${WEBHOOK_PINGS}
    ports:
      - "${PORT:-24153}:${PORT:-24153}"
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [ gpu, video ]
